<h1>My movie lists</h1>
<ul>
  <li><% @lists.each do |list| %>
  <%= link_to list.name, list_path(list) %></li>
  <% end %>
</ul>

<%= link_to "Create a movie list", new_list_path, class:"btn btn-primary" %>
